.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    width: 200px;
    border: 0.3px solid rgb(209, 208, 208) ;
    border-radius: 5px;
}

.descriptionBlock input {
    display: block;
    margin: 5px 0 5px 0;
}

.contact {
    padding-left: 10px;
}